*{
    margin: 0%;
    padding: 0%;
}
.brazil{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    width: 67%;
    margin-left: 15%; 
    padding: 5px; 
    margin-top: 3%;
}
.new{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 20%;
    margin-top: 3%;
}
.head{ 
    margin-top: 5%;
    background-color: rgb(70, 253, 125);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    padding-left:2%;
    padding-right: 17%;
}
.inh{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.jam{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.hot{
    display: flex;

    background-color: rgb(255, 255, 255);

    padding: 10px;
    justify-content: space-between;
    padding-left:2%;
    padding-right: 16%;
}
.hot:nth-child(even){
    background-color: rgb(230, 228, 228);
}
.fod{
background-color: rgb(219, 219, 219);
width: 15%;
height: 4px;
border-radius: 5px;
}
.rad{
    background-color: rgb(105, 253, 67);
    width: 60%;
    height: 3px;
    border-radius: 5px;
}
.met{
    background-color: rgb(219, 219, 219);
width: 15%;
height: 4px;
border-radius: 5px;
}
.mat{
    background-color: rgba(12, 77, 255, 0.747);
width: 20%;
height: 3px;
border-radius: 5px;
}
.van{
    background-color: rgb(219, 219, 219);
width: 15%;
height: 4px;
border-radius: 5px;
}
.ven{
    background-color: rgba(140, 0, 255, 0.836);
width: 39%;
height: 3px;
border-radius: 5px;
}
.ded{
    background-color: rgb(219, 219, 219);
width: 15%;
height: 4px;
border-radius: 5px;
}
.dad{
    background-color: rgb(17, 206, 0);
width: 20%;
height: 3px;
border-radius: 5px;
}
.lane{
    border: 1px solid rgba(56, 122, 243, 0.897);
padding: 8px;
background-color:  rgba(56, 119, 235, 0.897);
border-radius: 3px;
}
.vane{
    border: 1px solid rgba(223, 55, 55, 0.897);
    background-color: rgba(223, 55, 55, 0.897);
    padding: 8px;
    border-radius: 3px;
   
}

.btn{
    background-color: rgba(0, 0, 255, 0.712);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 15px ;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 255, 0.842);
}

/* adding new task*/

#feedback-form {
    width: 280px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
  }
  
  #feedback-form * {
      box-sizing: border-box;
  }
  
  #feedback-form h2{
    text-align: center;
    margin-bottom: 30px;
  }
  
  #feedback-form input {
    margin-bottom: 15px;
  }
  
  #feedback-form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
  }
  
  #feedback-form label {
    color: #777;
    font-size: 0.8em;
  }

  
  #feedback-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
  }
  .set{
    background-color: rgb(228, 228, 228);
    border-radius: 2px;
    padding: 5px;
    width: fit-content;
    display: flex; 
  }
  .dated{
padding: 20px;
 text-align: center;
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    margin-top: 20px;
  }
  .dated div{

    margin-left: 20px;
    margin-right: 10px;
  }
 
  .ft{
    display: flex;
  }
  .fg{
    background-color: rgba(0, 0, 255, 0.712);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 15px ;
    border-radius: 5px;
margin-top: 20px;
    cursor: pointer;
    display: block;
  }